{% extends 'check/bases.html' %}

{% block content %}


<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="">Store</a></li>
          <li class="active">Checkout</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->

<!-----SLECT ADDRESS-------->

 <style>
          
.cool {
  max-width: 900px;
  margin: 0 auto;
}


/**
  Component
**/

.hot {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 0px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #2ecc71;
}


        </style>

      <form action="{% url 'place_order' %}" method="POST">
          {% csrf_token %}
        <div class="cool">
  
          <h1>Select address</h1>
          
          <div class="row">
            
              <div class="col-md-4 col-lg-4 col-sm-4">
                {% for adr in profile %}
                <label class="hot">
                 
                  <input type="radio" name="selection" value="{{adr.id}}" selected checked class="card-input-element" />
        
                    <div class="card card-default card-input">
                      <div class="card-header">Product A</div>
                      <div class="card-body">
                        <p> {{adr.address_line_1}}</p>
                        <p> {{adr.address_line_1}}</p>
                        <p> Product specific content</p>
                      </div>
                    </div>
                   
                </label>
                {% endfor %}
              </div>
          </div>
          
        </div>



<!-----END ---SLECT ADDRESS-------->


        <div class="col-md-12 col-sm-12">
          <h1>Checkout</h1>
          
          <!-- BEGIN CHECKOUT PAGE -->
          <div class="panel-group checkout-page accordion scrollable" id="checkout-page">


            <!-- BEGIN SHIPPING ADDRESS -->
            <div id="shipping-address" class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                <input type="radio" name="selection" value="typeadr" id="">
                  <label for="">Delivery Details</label>
                  </a>
                </h2>
              </div>
              <div id="shipping-address-content" class="panel-collapse ">
                <div class="panel-body row">



                  <div class="col-md-6 col-sm-6">
                    
                    <div class="form-group">
                      <label >First Name <span class="require">*</span></label>
                      <input type="text"  name="first_name"  class="form-control">
                    </div>
                    <div class="form-group">
                      <label >Last Name <span class="require">*</span></label>
                      <input type="text"  name="last_name" class="form-control">
                    </div>
                    <div class="form-group">
                      <label >E-Mail <span class="require">*</span></label>
                      <input type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                      <label >Phone <span class="require">*</span></label>
                      <input type="text"  name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Fax</label>
                      <input type="text" id="fax-dd" class="form-control">
                    </div>
                  
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label >Address 1</label>
                      <input type="text" name="address_line_1" class="form-control">
                    </div>
                    <div class="form-group">
                      <label >Address 2</label>
                      <input type="text"   name="address_line_2" class="form-control">
                    </div>
                    <div class="form-group">
                      <label >City <span class="require">*</span></label>
                      <input type="text"  name="city" class="form-control">
                    </div>
                    <!-- <div class="form-group">
                      <label for="post-code-dd">Post Code <span class="require">*</span></label>
                      <input type="text" id="postcode" name="postcode" class="form-control">
                    </div> -->
                    <div class="form-group">
                      <label for="country-dd">Country <span class="require">*</span></label>
                      <input type="text"  name="country" class="form-control">
                    </div>
                    <div class="form-group">
                      <label >State <span class="require">*</span></label>
                     
                        <input type="text"  name="state" class="form-control">
                   
                    </div>
                  </div>

                  <div id="confirm-content" class="panel-collapse ">
                    <div class="panel-body row">
                      <div class="col-md-12 clearfix">
                        <div class="table-wrapper-responsive">
                        <table>
                       
                          <tr>
                            
                            <th class="checkout-image">Image</th>
                            <th class="checkout-description">Description</th>
                            <th class="checkout-model">Model</th>
                            <th class="checkout-quantity">Quantity</th>
                            <th class="checkout-price">Price</th>
                            <!-- <th class="checkout-total">Total</th> -->
                            
                          </tr>
                          {% for cart_item in cart_items %}
                          <tr>
                          
                            <td class="checkout-image">
                              <a href="javascript:;"><img src="{{cart_item.product.images.url}}" alt="Berry Lace Dress"></a>
                            </td>
                            <td class="checkout-description">
                              <h3><a href="javascript:;">{{cart_item.product.product_name}}</a></h3>
                              <p><strong>{{cart_item.quantity}}</strong>-{{cart_item.product.description}}</p>
                              <em>More info is here</em>
                            </td>
                            <td class="checkout-model">Rev.193</td>
                            <td class="checkout-quantity">{{cart_item.quantity}}</td>
                            <td class="checkout-price"><strong><span>Rs.</span>{{cart_item.product.price}}</strong></td>
                            <!-- <td class="checkout-total"><strong><span>Rs.</span>{{product.total}}</strong></td> -->
                          
                          </tr>
                          {% endfor %}
                        </table>
                       
                        </div>
             
                        <div class="checkout-total-block">
                          <ul>
                            <li>
                              <em>Sub total</em>
                              <strong class="price"><span>Rs.</span>{{total}}</strong>
                            </li>
                            <li>
                              <em>Tax</em>
                              <strong class="price"><span>Rs.</span>{{tax}}</strong>
                            </li>
                        
                            <li class="checkout-total-price">
                              <em>Total</em>
                              <strong class="price"><span>Rs.</span>{{grand_total}}</strong>
                            </li>
                          </ul>
                        </div>
                    
                        <div class="clearfix"></div>
                        <button class="btn btn-primary pull-right" name="submit" type="submit" id="button-confirm">Confirm Order</button>
                        <button type="button" class="btn btn-default pull-right margin-right-20">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
            <!-- END SHIPPING ADDRESS -->

            <!-- BEGIN SHIPPING METHOD -->
            <!-- <div id="shipping-method" class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-method-content" class="accordion-toggle">
                    Step 4: Delivery Method
                  </a>
                </h2>
              </div>
              <div id="shipping-method-content" class="panel-collapse collapse">
                <div class="panel-body row">
                  <div class="col-md-12">
                    <p>Please select the preferred shipping method to use on this order.</p>
                    <h4>Flat Rate</h4>
                    <div class="radio-list">
                      <label>
                        <input type="radio" name="FlatShippingRate" value="FlatShippingRate"> Flat Shipping Rate
                      </label>
                    </div>
                    <div class="form-group">
                      <label for="delivery-comments">Add Comments About Your Order</label>
                      <textarea id="delivery-comments" rows="8" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content">Continue</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- END SHIPPING METHOD -->

            <!-- BEGIN PAYMENT METHOD -->
            <!-- <div id="payment-method" class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" class="accordion-toggle">
                    Step 5: Payment Method
                  </a>
                </h2>
              </div>
              <div id="payment-method-content" class="panel-collapse collapse">
                <div class="panel-body row">
                  <div class="col-md-12">
                    <p>Please select the preferred payment method to use on this order.</p>
                    <div class="radio-list">
                      <label>
                        <input type="radio" name="CashOnDelivery" value="CashOnDelivery"> Cash On Delivery
                      </label>
                    </div>
                    <div class="form-group">
                      <label for="delivery-payment-method">Add Comments About Your Order</label>
                      <textarea id="delivery-payment-method" rows="8" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary  pull-right" type="submit" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content">Continue</button>
                    <div class="checkbox pull-right">
                      <label>
                        <input type="checkbox"> I have read and agree to the <a title="Terms & Conditions" href="javascript:;">Terms & Conditions </a> &nbsp;&nbsp;&nbsp; 
                      </label>
                    </div>  
                  </div>
                </div>
              </div>
            </div> -->
            <!-- END PAYMENT METHOD -->

            <!-- BEGIN CONFIRM -->
          

            </div>
            <!-- END CONFIRM -->
          </div>
          <!-- END CHECKOUT PAGE -->
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>








{% endblock %}